:root {
  --hue: 170;
  --primary-color: hsl(var(--hue), 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(calc(var(--hue) - 22), 23%, 89%);
  --brand-light-2: hsl(calc(var(--hue) + 10), 14%, 97%);
  --brand-dark: hsl(var(--hue), 100%, 14%);
  --bg-light: hsl(180, 14%, 97%);
}

.resume-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0;
}

.resume-parent {
  max-width: 1000px;
  width: 70%;
}

.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 0 50px;
}

.screen-heading span {
  font-size: 32px;
  color: #1f2235;
  font-family: "Poppins Bold";
}

.screen-sub-heading {
  letter-spacing: 3px;
  margin: 8px 0 10px;
  font-size: 12px;
  color: var(--black);
}
.heading-separator {
  display: flex;
  align-items: center;
  position: relative;
  width: 180px;
  margin: 10px 0 0;
}

.separator-line {
  width: 100%;
  height: 2px;
  background-color: #1f2235;
}
.separator-blob {
  height: 10px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}
.separator-blob div {
  width: 35px;
  border-radius: 10px;
  background-color: var(--dark-orange);
}

.resume-card {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1.2rem;
}

.resume-card-content {
  align-items: center;
  padding: 2.4rem;
  text-align: left;
  background: white;
  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;
}

.resume-card-content-title {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 2.5rem;
}

.resume-card-content-box {
  display: flex;
  column-gap: 1rem;
}
.box-group {
  display: grid;
  align-content: center;
  row-gap: 2.5rem;
}
.box-group-date {
  display: flex;
  column-gap: 1rem;
}

.card-hamburger-box {
  font-size: 1rem;
  padding-top: 4px;
}
.resume-card-content-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  padding-bottom: 4px;
  font-family: "Poppins SemiBold", sans-serif;
}

.resume-card-content-level {
  font-size: 12px;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.imgEducation {
  margin-right: 16px;
  margin-bottom: 4px;
}
